html {
    --bg: #f1f1f1;
    --sec_bg: #fff --color: blue;
    --hover_color: #e7e7e7
}

main[data-theme="dark"] {
    --bg: #0e0e0e;
    --sec_bg: #222222 --color: #fff;
    --hover_color: #424242
}



.main {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}
h3{
    text-align: center;
}
.calculator__storage {
    margin-right: 15px;
    height: 100px;
    width: 200px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(197, 206, 205);
    border-radius: 15px;
}
.calculator__storage-item{
    height: 15px;
}
.calculator {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-width: 350px;
    height: 450px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(176, 233, 233);
}

.calculator.dark {
    background-color: black;
    color: #f1f1f1;
}

.calculator__header {
    width: 100%;
    height: 60px;
    background: chocolate;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.switchBox {
    margin-left: 20px;
    width: 60px;
    height: 25px;
    background: cornflowerblue;
    border-radius: 20px;
    position: relative;
}

.switchBox input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    -webkit-appearance: none;
}

.switchBox .box {
    position: absolute;
    top: 10%;
    left: 4px;
    width: 20px;
    height: 80%;
    background: #6d6d6d;
    border-radius: 20px;
    transition: all .4s;
}

.switchBox input:checked~.box {
    left: 60%;
    background: #ff8303;
}

.calculator__input {
    width: 100%;
    height: 60px;
}

input {
    cursor: pointer;
}

.calculator__input #display {
    width: 74%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 10px;
    color: lightcoral;
}

.calculator__cancel-btn {
    width: 80px;
    margin-left: 2px;
    height: 60px;
    border: none;
    background: #ff8303;
    font-size: 1.5em;
    color: white;
    padding: 0px 0px 0px 0px;
}

.row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.row input {
    width: 23%;
    height: 60px;
    background: var(--sec_bg);
    color: var(--color);
    border: none;
    font-size: 1.5rem;
    margin-left: 5px;
}

.row input:hover {
    background-color: rgba(8, 238, 238, 0.815);
    border-radius: 20px;
}

.active {
    animation: anim .4s
}

@keyframes anim {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        background: var(--hover_color);
    }
}