@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
.content {
   width: 80%;
   margin: auto;
   background-color: rgba(0, 195, 255, 0.322);
}

.content-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 5px darkred dashed;
   padding: 20px;
   flex-wrap: wrap;
   
}

.content-item h2 {
   font-family: 'Fascinate', cursive;
   font-size: 3em;
   
}

.contact-container{
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.contact{
   color: rgb(15, 6, 49);
   font-size: 20px;
}
.form {
   color: rgb(13, 126, 126);
}

.form input {
   border: darkslateblue 3px solid;
   
}

.form input:focus {
   background-color: rgba(255, 20, 145, 0.288);
   color: rgb(34, 3, 3);
}

.form textarea {
   border: darkslateblue 3px solid;
}

.form-title {
   text-align: center;
}